/*
Foreground vs Background

Antes de discutir los detalles del color, es importante hacer dos distinciones sobre el color. El color puede afectar los siguientes aspectos del diseño:

El color de primer plano
el color de fondo

El color de primer plano es el color en el que aparece un elemento. Por ejemplo, cuando se aplica estilo a un título para que aparezca verde, se ha aplicado estilo al foreground color del título.

Por el contrario, cuando se aplica estilo a un encabezado de modo que su fondo se vea amarillo, el background color encabezado se ha aplicado

En CSS, estos dos aspectos de diseño se pueden diseñar con las dos propiedades siguientes:

color: esta propiedad da estilo al color de primer plano de un elemento.
color de fondo: esta propiedad da estilo al color de fondo de un elemento.

h1 {
  color: red;
  background-color: blue;
}

En el ejemplo anterior, el texto del encabezado aparecerá en rojo y el fondo del encabezado aparecerá en azul.

*/

/*

1. En style.css, cambie el color de primer plano del encabezado h1 a azul medianoche.

2. A continuación, establezca el color de fondo del encabezado h1 en aqua.

Observe cómo solo cambió el área de fondo detrás del encabezado.

*/

body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://images.unsplash.com/photo-1455267847942-f4fdb784f0c5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
    height: 400px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #FFFFFF;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: darkseagreen;
  }
  
  .light {
    background-color: sienna;
  }
  
  .city {
    background-color: saddlebrown;
  }
  
  .vienna {
    background-color: brown;
  }
  
  .italian {
    background-color: black;
  }
  
  /* Typography */
  h1 {
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }

  /* Empieza a escribir tus declaciones aqui debajo */