/*
Eche un vistazo a la imagen Position-block.png que esta en la carpeta Clase-02-Position, y luego regresa.

Los elementos en block-level como los cuadros en la imagen ejemplo, crean un bloque del ancho completo de sus contenedores y evitan que otros elementos aparezcan en el mismo espacio horizontal.

Observe que los elementos en block-level en la imagen ocupan su propia línea de espacio y, por lo tanto, no se superponen entre sí.

La posición predeterminada de un elemento se puede cambiar configurando su propiedad position. La propiedad position puede tomar uno de cinco valores:

static - the default value (it does not need to be specified)

relative

absolute

fixed

sticky

En los siguientes ejercicios, aprenderá acerca de los valores de la lista anterior. Por ahora, es importante comprender que si te sirve la posición predeterminada de un elemento HTML, no necesita establecer su propiedad position.


*/

/*
1. En style.css, agregue una declaración al conjunto de reglas .question que establezca la posición en estática.

Tenga en cuenta que establecer position en static no hace nada. Eso es porque static simplemente se refiere al comportamiento predeterminado.
*/

body {
    background-color: #FFF;
    margin: 0 auto;
  }
  
  header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
  }
  
  ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  li:hover {
    color: #DBE9EE;
  }
  
  h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  h2 {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
  }
  
  h3 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px;
  }
  
  h4 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase
  }
  
  p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
  }
  
  footer {
    background-color: #DBE9EE;
    text-align: center;
  }
  
  .welcome {
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
  }
  
  .question {
    text-align: center;
  }
  
  .answer {
    border: 1px solid #466995;
    margin: 20px;
  }
  
  .answer:hover {
    background: #C0D6DF;
    color: #FFF;
  }