/* Imagen de fondo

CSS tiene la capacidad de cambiar el fondo de un elemento. Una opción es convertir el fondo de un elemento en una imagen. Esto se hace a través de la propiedad CSS background-image. Su sintaxis se ve así:

.main-banner {
  background-image: url('https://www.example.com/image.jpg');
}

La propiedad background-image establecerá el fondo del elemento para mostrar una imagen.
El valor proporcionado a background-image es una url. La URL debe ser una URL a una imagen. La URL puede ser un archivo dentro de su proyecto o puede ser un enlace a un sitio externo. Para vincular a una imagen dentro de un proyecto existente, debe proporcionar una ruta de archivo relativa. Si hubiera una carpeta de imágenes en el proyecto, con una imagen llamada montañas.jpg, la ruta de archivo relativa sería la siguiente:

.main-banner {
  background-image: url('images/mountains.jpg');
}
*/

/*
1. En style.css, cambie la imagen de fondo del elemento con la clase .image. La imagen se almacena en la siguiente URL: /assets/soccer.jpeg
*/

body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #FFF;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    text-align: center;
  }
  
  h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
  }
  
  p {
    color: aliceblue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
  }
  
  .byline {
    font-family: Helvetica;
    color: rgba(255, 255, 255, 0.5);
    float: left;
    font-size: 14px;
    padding-left: 10px;
    text-transform: uppercase;
  }
  
  .caption {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color: white;
    color: black;
    opacity: 0.75;
  }
  
  .content {
    padding: 40px;
  }
  
  .image {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-4/htmlcss1-img_soccer.jpeg");
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  
  .writer-img {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 50px;
  }
  
  h1, h2 {
    font-family: Georgia;
  }
  
  p {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
  }